{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>View and Sell page</h2>
<div>
    <p>{{ msg }} Stocks details are below:</p>
    <form action="" method="POST">
        <table>
            <td><b>#</b></td>
            <td><b>Booking ID</b></td>
            <td><b>Company ID</b></td>
            <td><b>Company</b></td>
            <td><b>Company type</b></td>
            <td><b>Stock ID</b></td>
            <td><b>Cost</b></td>
            {% for key,value in bookings.items() %}
            <tr>
                <td>{{ key }}</td>
                {% for k,v in value.items() %}
                <td>{{ v }}</td>
                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
                <td><button type="submit" name="sell" class="btn btn-outline-danger"  value="{{  value['bookingid']  }}">Sell</button></td>
                {% endfor %}
            </tr>
        </table>
    </form>
    <p> {{ mesg }}</p>

</div>
{% endblock %}