{% extends 'layout.html' %}

{% block title %}Trade1{% endblock %}

{% block content %}
<h2>Buy Stocks Page</h2>
{% if show_results %}
<div id='content'>
    <p>Available stocks:</p>
    <form action="" method="POST">
        <table>
            <tr>
                <td><b>#</b></td>
                <td><b>Stock ID</b></td>
                <td><b>Company ID</b></td>
                <td><b>Company</b></td>
                <td><b>Company type</b></td>
                <td><b>Cost</b></td>
                <td><b>Remaing Stocks</b></td>
            </tr>
            {% for key,value in available.items() %}
            <tr>
                <td>{{ key }}</td>
                {% for k,v in value.items() %}
                <td>{{ v }}</td>
                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
                <td><button type="submit" name="buy" class="btn btn-outline-success"
                        value=" {{ value['sid'] }}">Buy</button></td>
            </tr>
            {% endfor %}
        </table>

    </form>
    <br><br>
    <p> {{ msg }} </p>
    <p> Your booking ID : {{ pk['bookingid'] }}</p>
</div>
{% else %}
<h4> Your account balance is low! </h4>

{% endif %}


{% endblock %}

